menu "Ralink Non-volatile Device Drivers"
	depends on MTD!=n

config MTD_NAND_RALINK
	tristate "NAND Flash Support"
	select MTD_PARTITIONS
	help
	  support Ralink 3052 nand flash controller.

config MTD_SPI_RALINK
	tristate "SPI Flash Support"
	select MTD_PARTITIONS
	help
	  supoort Ralink 3052 serial spi controller with SPI flash.

config MTD_NOR_RALINK
	tristate "NOR Flash Support"
	select MTD_PARTITIONS
	depends on RALINK_RT3052
	help
	  supoort Ralink 3052  with NOR flash.

config RALINK_SLIC_CONNECT_SPI_CS1
	depends on MTD_SPI_RALINK
	bool "SLIC CS Pin Connects to SPI CS1"
	default n

config RALINK_SPI_CS1_HIGH_ACTIVE
	depends on RALINK_SLIC_CONNECT_SPI_CS1
	bool "SPI CS1(Chip Select) is high active"
	default n

endmenu
