menu "Ralink Module"


config  RALINK_HWCRYPTO
	depends on RALINK_MT7621
	tristate "HW Crypto Engine"
	default n

#############
# Wireless
#############
menuconfig RT2860V2_AP
	bool "RT2860v2 Wi-Fi Driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

if RT2860V2_AP
source "drivers/net/wireless/rt2860v2_ap/Kconfig"
endif

menuconfig RT539X_AP
	bool "RT539X PCI Wi-Fi Driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV
	

if RT539X_AP
source "drivers/net/wireless/rt5392_ap/Kconfig"
endif

menuconfig RT359X_AP
	bool "RT359X PCI Wi-Fi Driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV
	

if RT359X_AP
source "drivers/net/wireless/rt3592_ap/Kconfig"
endif

menuconfig RT559X_AP
	bool "RT559X PCI Wi-Fi Driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

if RT559X_AP
source "drivers/net/wireless/rt5592_ap/Kconfig"
endif

#######
# USB
#######
config DWC_OTG
        depends on RALINK_RT3052
        tristate "Ralink DWC_OTG support"
        ---help---
          This driver supports Ralink DWC_OTG

choice
        prompt "USB Operation Mode"
        depends on DWC_OTG
        default DWC_OTG_HOST_ONLY

config DWC_OTG_HOST_ONLY
        bool "HOST ONLY MODE"
        depends on DWC_OTG

config DWC_OTG_DEVICE_ONLY
        bool "DEVICE ONLY MODE"
        depends on DWC_OTG

endchoice


config DWC_OTG_DEBUG
        bool "Enable debug mode"
        depends on DWC_OTG

endmenu
