# Add new vendor config

if RALINK_SOC
source "vendors/Kconfig.ralink"
endif # RALINK_SOC

if MIPS_TC3262 || MIPS_TC3162
source "vendors/Kconfig.econet"
endif # MIPS_TC3262 || MIPS_TC3162

source "vendors/Kconfig.ndms"

source "vendors/Kconfig.atel"
